table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

input {
    width: calc(100% - 16px);
    /* Adjust input width */
    box-sizing: border-box;
}

td:first-child {
    width: auto;
    /* Make the first column width auto to fit content */
}

/* Style for the comment column to align text properly */
td:nth-child(6) input {
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    resize: none;
}